{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

<div class="col-md-4">
	{{- product.field_image|without('variation_attributes') -}}
    <h3>{{- product.title|without('variation_attributes') -}}</h3>
    <p>{{- product.field_description|without('variation_attributes') -}}</p>
    <div class="row">
        <div class="col">
            <h4>{{- product.variation_price|without('variation_attributes') -}}</h4>
        </div>
        <div class="col">
            <div class="button">
                <a href="winkelwagen.html">BESTELLEN</a>
            </div> 
        </div>   
    </div>
</div>